{# menu-theme.png : fond bleu + logo (Pillow), {{ menu_theme_w }}x{{ menu_theme_h }} VESA. #}
{# Si console --picture échoue (undionly après install, framebuffer absent) → menu texte. #}
{% if has_menu_theme %}
console --picture {{ server_url }}/menus/menu-theme.png --left {{ menu_theme_left }} --right {{ menu_theme_right }} --top {{ menu_theme_top }} --bottom {{ menu_theme_bottom }} --x {{ menu_theme_w }} --y {{ menu_theme_h }} || goto theme_text_only
cpair --foreground 15 --background 4 0
cpair --foreground 15 --background 4 1
cpair --foreground 0 --background 14 2
cpair --foreground 15 --background 4 3
cpair --foreground 0 --background 14 7
goto theme_colors_done
:theme_text_only
cpair --foreground 15 --background 1 0
cpair --foreground 15 --background 1 1
cpair --foreground 0 --background 14 2
cpair --foreground 15 --background 1 3
cpair --foreground 0 --background 14 7
:theme_colors_done
{% else %}
cpair --foreground 15 --background 1 0
cpair --foreground 15 --background 1 1
cpair --foreground 0 --background 14 2
cpair --foreground 15 --background 1 3
cpair --foreground 0 --background 14 7
{% endif %}
