{# Pas de « colour --rgb » : certains builds / consoles renvoient Invalid argument (ipxe.org/1d1e2002). #}
{# Transparence : fond des paires = indice 4 (au-dessus du PNG). Résolution basse = texte plus gros. #}
{% if has_menu_background %}
console --picture {{ server_url }}/menus/menu-background.png --left 24 --right 24 --top 40 --bottom 24 --x 1024 --y 640
{% endif %}
{% if has_menu_background %}
cpair --foreground 7 --background 4 0
cpair --foreground 7 --background 4 1
cpair --foreground 7 --background 4 2
cpair --foreground 8 --background 4 3
cpair --foreground 0 --background 7 7
{% else %}
cpair --foreground 7 --background 0 0
cpair --foreground 7 --background 0 1
cpair --foreground 7 --background 0 2
cpair --foreground 8 --background 0 3
cpair --foreground 0 --background 7 7
{% endif %}
